<?xml version='1.0' encoding='UTF-8'?>

<phpunit
  backupGlobals='false'
  backupStaticAttributes='false'
  bootstrap='test/bootstrap.php'
  colors='true'
  convertErrorsToExceptions='true'
  convertNoticesToExceptions='true'
  convertWarningsToExceptions='true'
  forceCoversAnnotation='false'
  mapTestClassNameToCoveredClassName='false'
  processIsolation='false'
  stopOnError='false'
  stopOnFailure='false'
  stopOnIncomplete='false'
  stopOnSkipped='false'
  strict='true'
  timeoutForSmallTests='10'
  timeoutForMediumTests='30'
  timeoutForLargeTests='60'
  verbose='false'
>

  <testsuites>
    <testsuite name='Memcached Client Test Suite'>
      <file phpVersion='5.3.0' phpVersionOperator='>='
        >./test/memcached-client.test.php</file>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>benchmark</group>
      <group>selenium</group>
    </exclude>
  </groups>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist='true'>
      <directory>./</directory>
      <exclude>
        <file>./test/bootstrap.php</file>
        <file>./test/memcached-client.test.php</file>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <ini name='memory_limit' value='300m' />
  </php>

  <logging>
    <log type='coverage-html' target='./coverage-html/' />
    <log type='coverage-text' target='php://stdout' />
  </logging>

</phpunit>
